@font-face {
    font-family: "GowunDodum";
    font-weight: lighter;
    src: url("/src/assets/fonts/Gowun_Dodum/GowunDodum-Regular.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}